h1 {
  display: block;
  background-color: black;
  width: 100%;
  height: 100px;
  color: white;

  padding: 0px;
  text-align: center;
}
.con {
  display: flex;          /* 가로로 배치 */
  align-items: center;    /* 사진과 글의 세로 중앙 맞춤 (선택사항) */
  gap: 20px;              /* 사진과 글 사이의 간격 (선택사항) */
}

.PPP {
 flex: 1;                /* 남은 공간을 글자가 꽉 채우도록 설정 */
 line-height: 1.6;       /* 줄 간격을 넓혀서 읽기 편하게 */
 font-size: 20px;
}